---
// Component Imports
import BaseLayout from '../../layouts/BaseLayout.astro';

const title = 'My Astro Project'

---
	
<BaseLayout title={title}>
	<a href='/blog/post-1'>Post #1</a>
</BaseLayout>
