---
import BaseLayout from '../layouts/BaseLayout.astro'
import ReactButton from '../components/buttons/ReactButton.tsx'
import SvelteButton from '../components/buttons/SvelteButton.svelte'
---

<BaseLayout>
    <h1>Buttons</h1>
    <h3>Each button is using a different framework within Astro.</h3>
    <div>
        <ReactButton client:load />
        <SvelteButton client:load />
    </div>
</BaseLayout>