---
// Component Imports
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'Contact Us!'

---
	
<BaseLayout title={title}>
		<h1>Contact Us!</h1>
        <form>
            <label>contact:</label>
            <input type='text'/>
        </form>
</BaseLayout>
