---
// Component Imports
import Tour from '../components/Tour.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import ReactCounter from '../components/ReactCounter.tsx';

const title = 'My Astro Project'

---
	
<BaseLayout title={title}>
	<a href='/contact'>Contact</a>
	<br>
	<a href='/buttons'>Buttons</a>
	<br>
	<a href='/markdown'>Markdown</a>
	<br>
	<a href='/blog'>Blog</a>
	<Tour />
	<ReactCounter client:visible />
</BaseLayout>
