---
import BaseHead from '../components/BaseHead.astro';
const {title} = Astro.props
---

<html lang="en">
<head>
	<BaseHead title={title}/>
	<style></style>
</head>
<body>
	<main>
		<header>
        <div>
				<img width="60" height="80" src="/assets/logo.svg" alt="Astro logo">
				<h1>Welcome to <a href="https://astro.build/">Astro</a></h1>
			</div>
		</header>
		<div>
            <slot />
		</div>
	</main>
</body>
</html>